<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Super FOOT{% endblock %}</title>
 
        {# ... #}
 
        {% block stylesheets %}
        {% stylesheets
            '%kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less'
            filter='lessphp,cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}  
        {% endblock %}
 
        {# ... #}
 
    </head>
    <body> 
        {% include "navbar.html.twig" %}
     

        {% block body %}
        
        
        {% endblock %}

 
        {% block javascripts %}
        {% javascripts
            'http://code.jquery.com/jquery-1.11.1.js'
            '../vendor/twbs/bootstrap/js/dropdown.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
 
        <script type="text/javascript">
            $(document).ready(function() {
                {% block document_ready %}{% endblock %}
            });
        </script>
    </body>
</html>